  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
  }

  body {
    color: #404E67;
    background: #F5F7FA;
    font-size: 15px;
    min-height: 100vh;
    width: 100%;
  }
  .main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border: 2px solid blue;

  }

    .myform {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50%;
    }

    .myinput {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      width: 300px;
      margin-bottom: 10px;
      display: block;
      background: url(../images/visual.png) no-repeat center center;
      background-size: 1.5rem;
      background-position: 95% 50%;
    }

    .input-eye{
      position: relative;
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    
    .mybtn {
      left: 6.8rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 15px;
      max-width: 80px;
      position: relative;
      
    }
  input[type="text"] {
    font-size: 15px;
  }

  #password {
    -webkit-text-security: circle;
  }